.main{
    display: flex;
    flex: 1 1 0%;
    background-color: #231F17;
    flex-direction: column;
    height: 100vh;
}

/* Estilo do container para a foto de perfil */
.profile .imageContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Faz a imagem ficar circular */
    overflow: hidden; /* Garante que a imagem não vaze do container */
    position: relative;
    cursor: pointer;
  }
  
  /* Estilo do container para a foto de capa */
  .cover .imageContainer {
    margin: 20px auto 0 auto;
    border-radius: 10px;
    width: 1200px;
    height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #30372F;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
  }  
  
  .imageContainer:hover{
    background-color: #232822;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .uploadIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  