.main {
  display: flex;
  flex: 1 1 0%;
  background-color: #231F17;
  flex-direction: column;
  height: auto;
  padding-bottom: 100px;
}

/* Estilo do container para a foto de perfil */
.profile {
  display: flex;
  align-items: start;
  margin-top: -100px; /* Ajusta a posição da foto de perfil sobre a capa */
  margin-left: 270px;
}

.imageContainerProfile {
  width: 200px;
  height: 200px;
  border-radius: 50%; 
  overflow: hidden; /* Garante que a imagem não vaze do container */
  position: relative;
  cursor: pointer;
  background-color: #2f412d;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 4px solid #231F17;
}

.imageContainerProfile:hover {
  background-color: #232822;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Estilo do ícone de upload para a foto de perfil */
.uploadIconProfile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.imageContainerProfile:hover .uploadIconProfile {
  opacity: 1;
}

.imageContainerProfile:hover .imgProfile{
  filter: brightness(0.5); 
}

/* Estilo para o input de alterar nome do usuário */

.nameProfile{
  margin-top: 130px;
  margin-left: 28px;
  padding: 5px;
  color: #fff;
  font-size: 1.8rem;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  width: 700px;
}

.nameProfile:focus{
  background-color: transparent;
  border-bottom: 1px solid white;
  box-shadow: none;
  border: none;
}

.nameProfile::placeholder{
  color: #fff;
}

.nameProfile:hover{
  border-bottom: 1px solid white;
}

/* Estilo do container para a foto de capa */
.cover {
  display: flex;
  justify-content: center;
}

.imageContainer {
  margin: 20px auto 0 auto;
  border-radius: 10px;
  width: 1200px;
  height: 300px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: #30372F;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.imageContainer:hover .imgProfile{
  filter: brightness(0.5); 
}

.uploadIcon{
  opacity: 0;
  transition: opacity 0.3s;
}

.imgProfile{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageContainer:hover .uploadIcon{
  opacity: 1;
}

.imageContainer:hover {
  background-color: #232822;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}

/* Estilo do ícone de upload para a foto de capa */
.uploadIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilo para o nome de perfil */
.profileName {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

/* ...... */

.more{
  display: flex;
  flex-direction: column;
  margin: 100px auto 0 auto;
  
}

.section1{
  display: flex;
  flex-direction: row-reverse;
  gap: 65px;
}

.descArea{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  width: 870px;
  height: 300px;
  border: none;
  background-color: rgba(72, 98, 69, 0.195);
  box-sizing: border-box;
}

.descArea:hover{
  border: 0.5px solid white;
}

.description{
  width: 100%;
  height: 250px;
  border-radius: 15px;
  background-color: transparent;
  box-sizing: border-box;
  resize: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  color: rgb(215, 215, 215);
  padding: 10px 24px 24px 24px;
  border: none;
}

.description:focus{
  outline: none;
  box-shadow: none;
  border: none;
}

.descTitle{
  font-size: 2.0rem;
  font-weight: 500;
  color: #fff;
  margin: 24px 0 0 24px;
}

.confirmProfile{
  position: fixed;
  bottom: 50px;
  right: 50px; 
  cursor: pointer;
  transition: 0.2s;
  background-color: #43603f;
  border-radius: 100%;
  padding: 20px;
}

.confirmProfile:hover{
  transform: scale(1.15);
  transition: 0.2s;
}

.cultures{
  width: 250px;
  padding-left: 5px;
  height: 220px;
  overflow-y: auto;
  overflow-x: hidden;
}

.titleCultures{
  font-size: 2.0rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
}

.culture{
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: white;
}

.checkbox{
  all: unset;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 8px;
  border: 1px solid #43603f;
  border-radius: 3px;
  box-sizing: border-box;
}

.checkbox:checked{
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMi41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZWNrIj48cGF0aCBkPSJNMjAgNiA5IDE3bC01LTUiLz48L3N2Zz4=);
  background-color: #43603f;
}

.farm{
  margin-top: 150px;
}

.titleFarm{
  font-size: 30px;
  color: white;
  font-weight: 500;
  margin-bottom: 20px;
}

.nameFarm{
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 4px;
  margin-left: 10px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
}

.hecFarm{
  font-size: 1.6rem;
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
}

.nameFarmEdit{
  color: #fff;
  font-size: 1.6rem;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  width: 300px;
  margin-left: 4px;
  font-weight: 200;
}

.nameFarmEdit::placeholder{
  color: #fff;
  font-weight: 200;
}

.hecFarmEdit{
  color: #fff;
  font-size: 1.6rem;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  width: 90px;
  margin-left: 4px;
  font-weight: 200;
  margin-top: 4px;
}

.hecFarmEdit::placeholder{
  color: #fff;
  font-weight: 200;
}

.map {
  margin-top: 35px;
  height: 700px;
  border-radius: 20px;
}

.searchInput {
  background-color: #2f412d;
  border: none;
  box-shadow: none;
  height: 22px;
  border-radius: 10px;
  margin-right: 10px;
  padding: 8px;
  box-sizing: border-box;
  color: white;
  width: 300px;
  margin-bottom: 35px;
}

.searchBtn {
  background-color: #43603f;
  border: none;
  box-sizing: border-box;
  color: white;
  font-size: 12px;
  width: 50px;
  height: 22px;
  border-radius: 10px;
}
