.main{
  width: 100%;
  height: auto;
  background-color: #F9BD1C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #17130B;
  border-radius: 0 0 70% 70% / 0 0 100% 100%;
  transform: scaleX(1.7);

}

.container{
  z-index: 1;
  width: 100%;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.nav {
  position: relative;
  z-index: 1;
}

.navLink {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  margin-left: 45px;
  position: relative;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.navLink:focus,
.navLink:hover {
  color: #51754C;
}

.navLink:focus:after,
.navLink:hover:after {
  width: 100%;
  left: 0%;
}

.navLink:after {
  content: "";
  pointer-events: none;
  bottom: -3px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #51754C;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}



.navBtn{
  height: 40px;
  width: 115px;
  color: #17130B;
  background-color: #F9BD1C;
  border: transparent;
  box-sizing: border-box;
  margin-left: 60px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 100px;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
}

.navBtn:hover{
  background-color: #51754C;
  color: white;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
}

.toggleNavbar{
  display: none;
  flex-direction: column;
  align-items: center;
}

.menu{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navLink1{
  font-size: 2.0rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

.navBtn1{
  height: 40px;
  width: 115px;
  color: #17130B;
  background-color: #F9BD1C;
  border: transparent;
  box-sizing: border-box;
  margin-top: 15px;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 100px;
}

.desc{
  z-index: 1;
  position: relative;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.textArea{
  z-index: 1;
  position: relative;
  width: 577px;
  height: 208px;
  margin-right: 20rem;
  opacity: 0;
}

.textDesc{
  font-size: 4.5rem;
  font-weight: bold;
  color: white;
}

.descImg{
  z-index: 1;
  position: relative;
  transform: translateX(100vw);
}

.span{
  color: #F9BD1C;
}

.span2{
  color: #51754C;
}

.containerAboutUs{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  min-height: 500px;
  margin-top: 160px;
  gap: 300px;
}

.apiary{
  position: relative;
  right: 100%;
}

.textAboutUs{
  width: 580px;
}

.titleAboutUs{
  color: #2b3f29;
  font-size: 3.2rem;
  font-weight:bold ;
  text-transform: uppercase;
  margin-bottom: 20px;
  opacity: 0;
}

.aboutUs{
  font-size: 2.6rem;
  line-height: 36px;
  color: #082008;
  opacity: 0;
}

.containerHow{
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  width: 100%;
  padding-top: 80px;
  position: relative;
  height: auto;
  z-index: 1;
  gap: 50px;
  padding-bottom: 150px;
}

.containerHow:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #17130B;
  border-radius: 100% 100% 100% 100%;
  transform: scaleX(1.9);
}

.titleHow{
  position: relative;
  font-size: 4.4rem;
  font-weight:bold ;
  text-transform: uppercase;
  margin-bottom: 120px;
  text-align: center;
  color: white;
}

.subSec1{
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 230px;
}

.subSec2{
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 280px
}

.subSec3{
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 270px;
}

.imgHand{
  margin-left: 10px;
  transform:translateX(2000px);
  opacity: 0;
}

.imgSmartphone{
  margin-right: 25px;
  transform:translateX(-2000px);
  opacity: 0;
}

.imgMatch{
  transform:translateX(2000px);
  opacity: 0;
}

.textAreaSec{
  display: flex;
  flex-direction: column;
  width: 490px;
  line-height: 40px;
}

.titleSec{
  font-size: 4.2rem;
  color: #F9BD1C;
  font-weight: bold;
}

.titleSecR{
  font-size: 4.2rem;
  color: #F9BD1C;
  font-weight: bold;
  text-align: right;
  margin-bottom: 5px;
}

.textSec{
  font-size: 3.4rem;
  color: white;
}

.textSecR{
  font-size: 3.4rem;
  color: white;
  text-align: right;
}

.contactContainer{
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleContact{
  color: #2b3f29;
  font-size: 4.4rem;
  font-weight: 900 ;
  text-transform: uppercase;
  margin-top: 10px;
}
/* RESPONSIVIDADE */

@media (max-width: 1415px){
  .navLink{
    margin-left: 35px;
  }
}

@media (max-width: 1240px){
  .container{
    max-width: 80%;
  }
  .descImg{
    width: 224px;
  }

  .navLink{
    margin-left: 25px;
  }

  .navBtn{
    width: 105px;
    font-weight: 600;
  }
}

@media (max-width: 968px){
  .container{
    max-width: 90%;
  }

  .desc{
    display: flex;
    flex-direction: column;

  }

  .textArea{
    margin: 0;
  }

  .textDesc{
    text-align: center;
  }

  .descImg{
    order: -1;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .navBtn{
    font-weight: 600;
  }
}

@media (max-width: 870px) {
  .nav{
    display: none;
  }

  .toggleNavbar{
    display: flex;
  }

  .desc{
    height: 65vh;
  }

  .descImg{
    height: 310px;
  }

  .header:before{
    transform: scaleX(2.0);
  }
}

@media(max-width: 590px){
  .textArea{
    width: 390px
  }

  .nav{
    display: none;
  }
  
  .logo{
    width: 150px;
  }

  .navBtn{
    font-weight: 600;
  }
}

@media(max-width: 425px){
  .descImg{
    width: 170px;
  }

  .logo{
    width: 130px;
  }

  .nav{
    display: none;
  }

  .textArea{
    width: 320px;
    height: 210px;
    margin: 0;
  }

  .navBtn{
    font-weight: 600;
  }
}

@media (max-width:390px) {
  .container{
    width: 100%;
  }
  .textArea{
    width: 270px;
    height: 110px;
  }

  .desc{
    max-width: 100%;
  }

  .descImg{
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .logo{
    width: 110px
  }

  .navBtn{
    font-weight: 600;
  }

}