.main{
  width: 100%;
  height: 100vh;
  background-color: #F9BD1C;
}

.header{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #17130B;
  border-radius: 0 0 70% 70% / 0 0 100% 100%;
  transform: scaleX(1.7);

}

.container{
  z-index: 1;
  width: 100%;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.nav{
  position: relative;
  z-index: 1;

}

.navLink{
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  margin-left: 45px;
}

.navBtn{
  height: 40px;
  width: 115px;
  color: #17130B;
  background-color: #F9BD1C;
  border: transparent;
  box-sizing: border-box;
  margin-left: 60px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 100px;
}

.toggleNavbar{
  display: none;
  flex-direction: column;
  align-items: center;
}

.menu{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navLink1{
  font-size: 2.0rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

.navBtn1{
  height: 40px;
  width: 115px;
  color: #17130B;
  background-color: #F9BD1C;
  border: transparent;
  box-sizing: border-box;
  margin-top: 15px;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 100px;
}

.desc{
  z-index: 1;
  position: relative;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.textArea{
  z-index: 1;
  position: relative;
  width: 577px;
  height: 208px;
  margin-right: 20rem;
  opacity: 0;
}

.textDesc{
  font-size: 4.5rem;
  font-weight: bold;
  color: white;
}

.descImg{
  z-index: 1;
  position: relative;
  transform: translateX(100vw);
}

.span{
  color: #F9BD1C;
}

@media (max-width: 1415px){
  .navLink{
    margin-left: 35px;
  }
}

@media (max-width: 1240px){
  .container{
    max-width: 80%;
  }
  .descImg{
    width: 224px;
  }

  .navLink{
    margin-left: 25px;
  }

  .navBtn{
    width: 105px;
    font-weight: 600;
  }
}

@media (max-width: 968px){
  .container{
    max-width: 90%;
  }

  .desc{
    display: flex;
    flex-direction: column;

  }

  .textArea{
    margin: 0;
  }

  .textDesc{
    text-align: center;
  }

  .descImg{
    order: -1;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .navBtn{
    font-weight: 600;
  }
}

@media (max-width: 870px) {
  .nav{
    display: none;
  }

  .toggleNavbar{
    display: flex;
  }

  .desc{
    height: 65vh;
  }

  .descImg{
    height: 310px;
  }

  .header:before{
    transform: scaleX(2.0);
  }
}

@media(max-width: 590px){
  .textArea{
    width: 390px
  }

  .nav{
    display: none;
  }
  
  .logo{
    width: 150px;
  }

  .navBtn{
    font-weight: 600;
  }
}

@media(max-width: 425px){
  .descImg{
    width: 170px;
  }

  .logo{
    width: 130px;
  }

  .nav{
    display: none;
  }

  .textArea{
    width: 320px;
    height: 210px;
    margin: 0;
  }

  .navBtn{
    font-weight: 600;
  }
}

@media (max-width:390px) {
  .container{
    width: 100%;
  }
  .textArea{
    width: 270px;
    height: 110px;
  }

  .desc{
    max-width: 100%;
  }

  .descImg{
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .logo{
    width: 110px
  }

  .navBtn{
    font-weight: 600;
  }

}