.allPage{
    display: flex;
    flex: 1 1 0%;
}

.secondDiv{
    display: flex;
    flex: 1 1 0%;
}

.main{
    display: flex;
    flex: 1 1 0%;
    background-color: #231F17;
    flex-direction: column;
    padding-bottom: 100px;
    height: auto;
}

.myProfileDiv{
    display: flex;
    justify-content: end;
    padding: 2.0rem 2.0rem 0 0;
}

.myProfile{
    border-radius: 100px;
    background-color: #51754C;
    cursor: pointer;
}

.myProfile:hover{
    border: 1.5px solid white;
    box-sizing: border-box;
}

.divDivider{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 0 auto;
}

.searchArea{
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.bar{
    background-color: rgba(99, 89, 64, 0.69);
    width: 100%;
    margin-bottom: 35px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.searchBar{
    height: 40px;
    width: 95%;
    background-color: transparent;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    box-sizing: border-box;
    padding: 0 15px 0 15px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.907);
}

.searchBar:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.searchBar::placeholder{
    color: rgba(0, 0, 0, 0.48);
}

.iconSearch{
    color: rgba(0, 0, 0, 0.797);
    width: 20px;
    margin-bottom: 2px;
}

.searchFilter{
    width: 30%;
    height: 75vh;
    background-color: #F9BD1C;
    margin-top: 100px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 40px 0 40px 0;
}

