.allPage{
    display: flex;
    flex: 1 1 0%;
    min-height: 100vh;
    background-color: #231F17;
}

.secondDiv{
    display: flex;
    flex: 1 1 0%;
}


/* Loader */

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #231F17;
    color: white;
    height: 100vh;
  }


  .confirmProfile{
    position: fixed;
    bottom: 50px;
    right: 50px; 
    cursor: pointer;
    transition: 0.2s;
    border-radius: 100%;
    padding: 20px;
  }
  
  .confirmProfile:hover{
    transform: scale(1.15);
    transition: 0.2s;
  }
  

  .apicultorButton {
    background-color: #f9bd1c; /* Cor para o usuário tipo 1 (apicultor) */
  }
  
  .agricultorButton {
    background-color: #43603f; /* Cor para o usuário tipo 2 (agricultor) */
  }
  