.main{
    width: 100%;
    height: 100vh;
    background-color: #17130B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../../public/teste.svg");
}

.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 630px;
    margin-top: 140px;
    width: 550px;
    background-color: #f9be1c ;
    border-radius: 3%;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid rgb(216, 216, 216);
}

.titleLogin{
    font-size: 3.4rem;
    margin-bottom: 35px;
    font-weight: bold;
    color: #000;
 
}

.subtitleLogin{
    font-size: 1.8rem;
    color: #000;
}

.span{
    color: white;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #000; 
    letter-spacing: 0.5px;
    font-weight: bolder;
}

.headerContainer{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 80%;
    height: 55px;
    border: none;
    border-radius: 9px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.6rem;
    background-color: #17130B;
    margin-top: 15px;
    color: white;
}

.input::placeholder{
    color:  #ffffffc4;
}

.extra{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 30px;

}

.text{
    font-size: 1.4rem;
    color: #000;
}

.link{
    font-size: 1.4rem;
    color: #000;
    margin-left: 3px;
}

.link:hover{
    color: #51754C;
}

.check{
    height: 28px;
    margin-left: 3px;
    transform: translateY(9px);
}

.btn{
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 9px;
    margin-bottom: 17px;
    transition: 100ms;
    background-color: #17130B;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 8px;
   
}

.btn:hover{
    transform: scale(1.05);
    transition: 100ms
}